body {
  background-color: #faf6f6;
}

/* NAVBAR */

nav {
  --bs-navbar-padding-x: 0;
  font-size: 18px;
  font-family: "Dosis", sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  background-color: white;
}

/* CONTACT */

.contactInfo {
  margin-top: 30px;
}

/* FORM */

@media screen and(max-width:768px) {
  form {
    margin-left: 3%;
    margin-right: 3%;
    width: 150px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 4%;
    font-family: "Playfair Display", serif;
  }

 
}


  form {
  float: right;
  margin-left: 3%;
  margin-right: 3%;
  width: 350px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 4%;
  font-family: "Playfair Display", serif;
}



/* CONTACT BUTTON */
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  background-color: #e6dddf;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 4%;
  font-family: "Dosis", sans-serif;
  color: black;
}
.btn-three {
  color: black;
  transition: all 0.5s;
  position: relative;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-three::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #e6dddf;
  transition: all 0.3s;
  color: black;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* MAP */

.map {
  margin: 7%;
}
embed,
object,
iframe {
  max-width: 100%;
}
h4 {
  text-align: center;
  display: block;
  margin: 50px;
  font-family: "Playfair Display", serif;
} 
/* FOOTER */

footer {
  justify-content: center;
  background-color: #e6dddf;
  font-family: "Nova Mono", monospace;
}


  .social {
  color: white;
  margin-left: 45%;
}

.fa-brands,
.fa-solid {
  color: white;
  padding: 1%;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 3%;
}

.social a {
  color: white;
  text-decoration: none;
}





