/* NAVBAR */

.logo {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.navbar {
  background: transparent; /* #d0b8a8; */
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.container-fluid{
  background: transparent
}


.btn {
  -webkit-border-radius: 57;
  -moz-border-radius: 57;
  border-radius: 57px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 17px;
  background: #c9c6c1;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d2abde;
  text-decoration: none;
}
.hide {
  display: none;
}


div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/* FOOTER */

footer {
  justify-content: center;
  background-color: #a98167;
  padding: 7px 15px;
  font-family: "Nova Mono", monospace;
}
footer p {
  color: white;
  position: relative;
  margin-bottom: 2%;
  justify-self: center;
}
.social {
  color: white;
}
.fa-brands {
  color: white;
  margin: auto;
  padding: 1%;
  flex-direction: column;
}
