body {
  text-align: center;
  align-content: center;
}


/* NAVBAR */


.navbar {
  align-items: flex-end;
  background-color: transparent; /* #d0b8a8; */
  
}

/* CONTENT */

.card{
  display: flex;
  padding: 20px;
  text-align: center;
}
.card .col:hover{
  transform: translateY(-20px)
}

.example-photo {
  display: block;
  margin-left: auto;
  margin-right: 2%;
  width: 60%;
  float: right;
  margin-top: 2%;
}
.example-photo-two{
  display: block;
  margin-left: 2%;
  margin-right: 2%;
  width: 60%;
  float: left;
  margin-top: 2%;
}
.description-one{
  size: 0.2rem;
   margin-top: 3%;
  margin-left: 10rem;
  margin-right: 10rem;
}
h1{
    font-size: larger;
}
.description-one-title{
    font-style: italic;
    margin-top: 3%;
    margin-left: 9rem;
    margin-right: 10rem;
}

.navbar .btn {
  -webkit-border-radius: 57;
  -moz-border-radius: 57;
  border-radius: 57px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #c9c6c1;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  size: 40px;
}

.navbar .btn:hover {
  background: #B2B2B2;
  text-decoration: none;
}
              
a{
  float: inline-end;
}
a:hover{
  color: black;
}

/* FOOTER */


.footer{
  text-align: center;
  align-content: center;
  background-color: #d0b8a8;
  padding: 7px 15px;
  color: white;
}