
@tailwind base;
@tailwind components;
@tailwind utilities;



.top-title{
  text-align: center;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}

/* .w-full , .top-title{
   
}

div.align-middle:nth-child(1) {
  align-self: center;
  } */
  nav{
    --bs-navbar-padding-x: 0;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  
  }
/* FOOTER */

.footer{
  text-align: center;
  align-content: center;
  background-color: #B2B2B2;
  padding: 7px 15px;
  color: white;
}

