@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  margin-top: 8px;
  margin-bottom: 0;
  margin-right: 10px;
}

select {
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;
}

body {
  text-align: center;

  background-color: #f1edea;

  /* font-family: 'Charm', cursive;
font-family: 'Cinzel', serif;F1DEC9
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Nova Mono', monospace;
font-family: 'Qwigley', cursive;
font-family: 'Sofia', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Raleway', sans-serif;
  font-family: 'Voga';
  font-family: 'Raleway', sans-serif;

font-family: 'Alkatra', cursive;
  font-family: 'Charm', cursive;
font-family: 'Cinzel', serif;
font-family: 'Fuzzy Bubbles', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Nova Mono', monospace;
font-family: 'Qwigley', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Display', sans-serif;
font-family: 'Sofia', cursive;
font-family: 'Tangerine', cursive;
*/
}

/* NAVBAR */

nav {
  --bs-navbar-padding-x: 0;
  font-size: 22px;
  font-family: "Dosis", sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
}
.navbar-nav {
  margin-left: auto;
}

.navbar-brand {
  margin-right: auto;
}

.navbar:hover,
.navbar:active {
  background-color: white;
}

.nav-item {
  margin-left: 17px;
  margin-right: 20px;
}

.navButton {
  line-height: 25px;
  height: 25px;
  text-align: center;
  width: 50px;
  cursor: pointer;
  background-color: #b7b7b7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  color: black;
  margin: auto;
  border-style: none;
  border-radius: 10px;
}

/* CONTENT */

.backgroundPhoto {
  margin-top: 30px;
}

@media screen and (min-width: 769px) {
  .bgImg img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .bgImg img {
    margin-top: 127px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  .navbar-collapse {
    background: white;
  }
}

@media screen and (max-width: 768px) {
  .descriptionContent {
    font-family: "Playfair Display", serif;
    word-spacing: 0px;
    margin: auto;
    width: 98%;
  }
}

.middle-container {
  vertical-align: center;
  height: 60%;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
}

.vl {
  border-left: 3px solid #3c3c3c;
  height: 270px;
  position: absolute;
  margin-left: -80px;
}

a {
  align-self: center;
  text-decoration: none;
}

a i {
  color: black;
}

a:hover {
  color: #8d7b68;
}
@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
  }
}
@media screen and (min-width: 767px) {
  h1 {
    text-align: center;
    display: block;
    font-family: "Dosis", sans-serif;
    font-size: 100px;
    margin-bottom: 80px;
  }
}

p {
  text-align: center;
}

.description {
  align-items: center;
  font-family: "Cinzel", serif;
}

.descriptionContent {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  word-spacing: 0px;
  font-size: 18px;
}
/* PRODUCTS */
.cards {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}
.cards h2.header {
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Dosis", sans-serif;
}
.services {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 2px solid #b7b7b7;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.content .fab {
  font-size: 70px;
  margin: 16px 0;
}
.content > * {
  flex: 1 1 100%;
}
.content:hover {
  color: black;
}

.content-1:hover {
  border-color: #d9d0c7;
  background: #d9d0c7;
}

.content-2:hover {
  border-color: #d9d0c7;
  background: #d9d0c7;
}

.content-3:hover {
  border-color: #d9d0c7;
  background: #d9d0c7;
}

.content h2 {
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.content a {
  margin: 22px 0;
  background: #2c3639;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #2c3639;
  padding: 15px 0;
  border-radius: 10px;
  transition: 0.3s ease;
}
.content a:hover {
  border-radius: 4px;
}
@media (max-width: 900px) {
  .services {
    display: flex;
    flex-direction: column;
  }
}
.card {
  display: inline-block;
  margin: 5%;
  height: 450px;
  width: 300px;
}

.card img {
  width: 300px;
  height: 350px;
}
.card h4 {
  font-family: "Dosis", sans-serif;
}

#aboutUs {
  height: 150px;
}
/* #products {
  height: 150px;
} */
@media screen and(min-width:768px) {
  .products h1 {
    margin-bottom: 20px;
    margin-top: 200px;
    font-size: 100px;
    font-family: "Dosis", sans-serif;
  }

  .middle-container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 767px) {
  .products h1 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 40px;
    font-family: "Dosis", sans-serif;
  }
  #products {
    height: 60px;
  }
  #aboutUs {
    height: 60px;
  }
}

/* PROCESS */

.icons img {
  height: 70px;
  width: 70px;
  margin-bottom: 0;
}
#process {
  margin: 30px;
  background-image: url(images/p4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionHeading {
  display: column;
  justify-content: center;
  font-family: "Dosis", sans-serif;
}

#design .process {
  margin: 22px;
  margin-top: 40px;
}
h4 {
  margin-bottom: 35px;
  font-family: "Dosis", sans-serif;
}
@media screen and (max-width: 768px) {
  .sectionHeading {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #644737;
    text-align: center;
  }
  .sectionHeading h3 {
    display: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 35px;
    font-family: "Moon Dance", cursive;
    text-align: center;
    margin-top: 28px;
  }

  #production .sectionHeading h3 {
    display: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 35px;
    font-family: "Moon Dance", cursive;
    text-align: center;
    margin-top: 28px;
  }
  #design .sectionHeading h3 {
    display: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 35px;
    font-family: "Moon Dance", cursive;
    text-align: center;
    margin-top: 28px;
  }
  .process h3 {
    margin-top: 7%;
    text-align: start;
    display: inline;
  }

  .process p {
    text-align: center;
    margin: 30px;
    color: #7c5536;
    font-family: "Montserrat", sans-serif;
  }
  .process h4 {
    margin: 35px;
    font-size: 35px;
    font-family: "Dosis", sans-serif;
  }
}

@media screen and (min-width: 768px) {
  #design {
    width: 100%;
  }

  #production {
    width: 100%;
  }

  .process {
    display: inline-block;
    text-align: center;
    margin: 80px;
    align-items: first baseline;
  }

  h3 {
    text-align: start;
    display: inline;
  }
  .sectionHeading {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #644737;
    text-align: center;
  }

  .sectionHeading h3 {
    display: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 35px;
    font-family: "Moon Dance", cursive;
    text-align: center;
    margin-top: 28px;
  }
  .substance3 {
    margin-top: 30px;
    justify-content: center;
    font-family: "Moon Dance", cursive;
  }
  .process h4 {
    margin-bottom: 35px;

    margin-top: 70px;
    font-size: 75px;
    font-family: "Dosis", sans-serif;
  }

  hr {
    width: 350px;
    border-top: 2px solid;
  }

  .process p {
    text-align: center;
    width: 350px;
    color: #7c5536;

    font-family: "Montserrat", sans-serif;
  }

  .number {
    font-size: 40px;
    font-family: "Alkatra", "cursive";
  }

  #design .process {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
#design h4 {
  margin-bottom: 35px;
  font-family: "Dosis", sans-serif;
}
#production h4 {
  margin-bottom: 35px;
  font-family: "Dosis", sans-serif;
}

#production .process {
  margin-bottom: 30px;
  margin-top: 30px;
}

/* PHOTO CARDS */

@media screen and (min-width: 768px) {
  .ourTeam h2 {
    margin-top: 100px;
    font-size: 75px;
    font-family: "Dosis", sans-serif;
  }
}

@media screen and (max-width: 767px) {
  .ourTeam h2 {
    margin-bottom: 20px;
    margin-top: 60px;
    font-size: 50px;
    font-family: "Dosis", sans-serif;
  }
}


.team-picture {
  align-self: center;
  border-radius: 30px;
  margin-bottom: 4%;
  width: 50%;
}

/* CONTACT BUTTON */
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  background-color: #3f4e4f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 4%;
  font-family: "Dosis", sans-serif;
  color: white;
}

.btn-three {
  color: white;
  transition: all 0.5s;
  position: relative;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-three::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #3f4e4f;
  transition: all 0.3s;
  color: white;
}

.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* FOOTER */

footer {
  justify-content: center;
  background-color: #b7b7b7;
  padding: 7px 15px;
  font-family: "Nova Mono", monospace;
}

footer p {
  color: white;
  position: relative;
  margin-bottom: 2%;
}

.social {
  color: white;
}

.fa-brands,
.fa-solid {
  color: white;
  margin: auto;
  padding: 1%;
  flex-direction: column;
}

.social a {
  color: white;
  text-decoration: none;
}
