body {
  background-color: #faf6f6;
  font-family: "Playfair Display", serif;
}

/* NAVBAR */

nav {
  --bs-navbar-padding-x: 0;
  font-size: 22px;
  font-family: "Dosis", sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    margin-left: auto;
  }
  .navbar-brand {
    margin-right: auto;
    width: 10px;
    height: 80px;
    margin-bottom: 10px;
    margin-top: -10px;
  }
}

.navbar:hover,
.navbar:active {
  background-color: white;
}

.nav-item {
  margin-left: 17px;
  margin-right: 20px;
}

.navButton {
  line-height: 25px;
  height: 25px;
  text-align: center;
  width: 50px;
  cursor: pointer;
  background-color: #e6dddf;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  color: black;
  margin: auto;
  border-style: none;
  border-radius: 10px;
}
.container-fluid {
  background: transparent;
}
.nav-item {
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  display: flex;
}
.active {
  text-decoration: solid underline;
  text-decoration-color: #8d7b68;
}

a {
  text-decoration: none;
  color: gray;
}

@media screen and (min-width: 769px) {
  .bgImg img {
    width: 1080px;
    height: 737px;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
  }
  
}

@media screen and (max-width: 768px) {
  .bgImg img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }
}

/* PRODUCT */

.product h3 {
  margin-bottom: 10%;
  margin-top: 10%;
  font-family: "Playfair Display", serif;
}
@media only screen and (max-width: 900px) {
  .product img {
    width: 100%;
    height: auto;
  }

  .paragraph {
    width: 300px;
    margin-top: 13%;
  }
  .product {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 900px) {
  .product {
    display: flex;
  }
  .product img {
    width: 700px;
    height: 500px;
  }
  .paragraph {
    width: 80%;
    margin: 7%;
  }
}

.product div {
  margin-left: 5%;
  margin-bottom: 5%;
}

/* CONTENT */

.sectionTitle {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-style: italic;

  text-align: center;
  margin-bottom: 30px;
}
.substance {
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .fullPage {
    display: inline-flex;
  }

  .content {
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    width: fit-content;
  }

  .sectionParagraph {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 13%;
  }
}

@media screen and (max-width: 769px) {
  .fullPage {
    display: grid;
  }

  .content {
    font-size: 16px;
    width: 80%;
    margin: auto;
  }
  .sectionParagraph {
    width: fit-content;
    height: auto;
    margin: auto;
  }
}

b {
  font-size: 25px;
  text-align: center;
}

/* IMAGE GALLERY */
.bgImg {
  margin: auto;
}

/* CONTACT BUTTON */
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  background-color: #3f4e4f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 4%;
  font-family: "Dosis", sans-serif;
  color: white;
  margin-top: 4%;
}
.btn-three {
  color: white;
  transition: all 0.5s;
  position: relative;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-three::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #c8b6a6;
  transition: all 0.3s;
  color: white;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

/* BACK TO TOP BUTTON */

.topButton {
  height: 50px;
  text-align: center;
  width: 50px;
  cursor: pointer;
  background-color: #b7b7b7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 4%;
  font-family: "Dosis", sans-serif;
  color: black;
  margin-top: 4%;
  border: none;
  border-radius: 20px;
}

.fas {
  margin: auto;
}
/* FOOTER */

footer {
  background-color: #b7b7b7;
  font-family: "Nova Mono", monospace;
}

.social {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
@media screen and (max-width:800px) {
  .social {
    height: 40px;
  }
}
.social a {
  margin: 0 1rem;
}

.fa-brands,
.fa-solid {
  color: white;
  padding: 1%;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 3%;
}

.social a {
  color: white;
  text-decoration: none;
}
