body {
  background-color: #faf6f6;
  font-family: "Playfair Display", serif;
}

/* NAVBAR */

.logo {
  margin-bottom: 20px;
}

nav {
  font-size: 16px;
  font-family: "Dosis", sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  background-color: whitesmoke;
}
.container-fluid {
  background: transparent;
}
.nav-item {
  font-size: 20px;
  font-family: "Dosis", sans-serif;
  display: flex;
}
.active {
  text-decoration: solid underline;
  text-decoration-color: #8d7b68;
}

a {
  text-decoration: none;
  color: gray;
}

/* PRODUCT */
.product h3 {
  margin-bottom: 10%;
  margin-top: 10%;
  font-family: "Playfair Display", serif;
}
@media only screen and (max-width: 768px) {
  .product img {
    width: 100%;
    height: 400px;
  }

  .paragraph {
    width: 300px;
    margin-top: 13%;
  }
}
@media screen and (min-width: 767px) {
  .product {
    display: flex;
  }
  .product img {
    width: 400px;
    height: 400px;
  }
  .paragraph {
    width: 800px;
    margin-top: 13%;
  }
}

.product div {
  margin: 5%;
}

/* CONTENT */

.sectionTitle {
  margin: 30px;
  margin-left: 35%;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-style: italic;
}
.substance {
  font-weight: bold;
}
@media screen and (min-width: 769px) {
  .fullPage {
    display: inline-flex;
  }
  .image-slider {
    width: 700px;
    margin: 20px;
    background-color: #faf6f6;
  }
  .content {
    font-size: 16px;
    margin-left: 15%;
    margin-top: 7%;
    width: 1000px;
    margin: auto;
  }
  .image-slider img {
    width: fit-content;
    height: fit-content;
  }
  .sectionParagraph{
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .fullPage {
    display: flex;
  }
  .image-slider {
    margin: auto;
    height: auto;
    width: 360px;
  }
  .content {
    font-size: 16px;
    width: 300px;
    margin: auto;
  }
  .sectionParagraph {
    width: fit-content;
    height: auto;
    margin: auto;
  }
}

b {
  font-size: 25px;
  text-align: center;
}

/* IMAGE SLIDER */
@media screen and (min-width: 769px) {
  .image-slider {
    margin: auto;
    width: 600px;
  }
  .carousel-item img {
    height: 560px;
    width: 100%;
    background-color: #faf6f6;
  }
}

/* CONTACT BUTTON */
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  background-color: #e6dddf;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 4%;
  font-family: "Dosis", sans-serif;
  color: black;
  margin-top: 4%;
}
.btn-three {
  color: black;
  transition: all 0.5s;
  position: relative;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-three::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #e6dddf;
  transition: all 0.3s;
  color: black;
}
.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.btn-three::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}
/* FORM */
form {
  width: 250px;
  margin: auto;
  text-align: center;
}

/* BACK TO TOP BUTTON */

.topButton {
  height: 50px;
  text-align: center;
  width: 50px;
  cursor: pointer;
  background-color: #e6dddf;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 4%;
  font-family: "Dosis", sans-serif;
  color: black;
  margin-top: 4%;
  border: none;
  border-radius: 20px;
}

.fas {
  margin: auto;
}
/* FOOTER */

footer {
  background-color: #e6dddf;
  font-family: "Nova Mono", monospace;
}

.social {
  color: white;
  margin-left: 45%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .social {
    margin-left: 37%;
  }
}

.fa-brands,
.fa-solid {
  color: white;
  padding: 1%;
  flex-direction: column;
  margin-top: 3%;
  margin-bottom: 3%;
}

.social a {
  color: white;
  text-decoration: none;
}
