
@tailwind base;
@tailwind components;
@tailwind utilities;



.top-title{
  text-align: center;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
}

/* .w-full , .top-title{
   
}

div.align-middle:nth-child(1) {
  align-self: center;
  } */
  nav{
    --bs-navbar-padding-x: 0;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  border-bottom-style: solid;
  border-width: 1px;
  
  }


/* FOOTER */

footer {
  align-items: center;
  background-color: #e6dddf;
  font-family: "Nova Mono", monospace;
  
}

footer p {
  color: white;
  position: relative;
  margin-bottom: 2%;
  margin-left: 40%;
}

.social {
  color: white;
  margin-left: 35%;
}

.fa-brands,
.fa-solid {
  color: white;
  margin: auto;
  padding: 1%;
  flex-direction: column;
}

.social a {
  color: white;
  text-decoration: none;
}