body {
  background-color: #f8ede3;
}

/* NAVBAR */

.logo {
  height: 200px;
  width: 180px;
}

.navbar {
  align-items: flex-start;
  background-color: #d0b8a8;
}

ul {
  display: inline-block;
  align-items: flex-start;
}
li {
  display: inline;
  padding: 20px;
}

.btn {
  background: #ebeef0;
  background-image: -webkit-linear-gradient(top, #ebeef0, #9fa4a6);
  background-image: -moz-linear-gradient(top, #ebeef0, #9fa4a6);
  background-image: -ms-linear-gradient(top, #ebeef0, #9fa4a6);
  background-image: -o-linear-gradient(top, #ebeef0, #9fa4a6);
  background-image: linear-gradient(to bottom, #ebeef0, #9fa4a6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #807869;
  text-decoration: none;
}
/* CONTENT */

.middle-container {
  vertical-align: center;
  border: 1px;
  border-style: dashed;
  height: 80%;
  width: 40%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  text-align: center;
  display: block;
}
.description {
  align-items: center;
  display: flex;
}

/* FOOTER */

footer {
  border: 1px;
  border-style: dashed;
  height: 5rem;
  background-color: #d0b8a8;
  align-content: center;
}
.social-media-icons {

    margin: 20px 10px;
}


